body {
  max-height: 90%;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}


.container-fluid {
   margin: 10px;
}

#collapse1 {
  margin: 10px;
}

.pongbot h1{
  font-family: "Monoton";
  text-align: center;
  color: red;
}
