body {
  max-width: 1020px;
  max-height: 80%;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

.col-sm-6 {
  background-color: #333333;
}


h1 {
font-size: 64px;
text-align: center;
color: #F2F2F2;
}

#developer {
  color: #F2F2F2;
  font-size: 64px;
  text-align: center;
  padding-bottom: 5px;
}


.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      height: 100px;
      margin: auto;
      object-fit: contain;
}


#contact {
  align-content: center;
  padding-bottom: 10px;
}

#about {
  text-align: center;
  color: #F2F2F2;
}
